.about {
  position: relative;

  &-top-section {
    position: relative;

    .about-info {
      background-image: linear-gradient(to right, #911d5a, #d93979);
      padding-top: 40px;
      padding-bottom: 40px;

      // Extra large devices (large desktops, 1200px and up)
      @media (min-width: 1200px) {
        padding-left: 90px;
        padding-right: 90px;
      }


      h3 {
        color: #fff;
        font-weight: 700;
      }

      p {
        color: #fff;
        font-size: 15px;
      }
    }

    .about-img {
      background-image: url('../../imgs/16734843171461957217.jpg');
      background-size: 100% 100%;
    }

    .see-more {
      position: absolute;
      display: inline-block;
      background-color: $dark-color;
      color: #fff;
      padding: 7px 13px;
      text-decoration: none;
      border-radius: 23px;
      left: 50%;
      transform: translateX(-50%);
      bottom: -16px;
      // Extra small devices (portrait phones, less than 576px)
@media (max-width: 331px) {
  width: 90%;
  font-size: 15px;
}
    }

    &::before,
    &::after {
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 25px;
      left: 33px;
      width: 50%;
      top: 80%;
      max-width: 300px;
      background: #777;
      -webkit-box-shadow: 0 35px 20px #777;
      -moz-box-shadow: 0 35px 20px #777;
      box-shadow: 0 35px 20px #777;
      -webkit-transform: rotate(-8deg);
      -moz-transform: rotate(-8deg);
      -o-transform: rotate(-8deg);
      -ms-transform: rotate(-8deg);
      transform: rotate(-8deg);
    }

    &::after {
      -webkit-transform: rotate(8deg);
      -moz-transform: rotate(8deg);
      -o-transform: rotate(8deg);
      -ms-transform: rotate(8deg);
      transform: rotate(8deg);
      right: 10px;
      left: auto;
    }

  }

  &-bottom-section {
    background-color: #f3f3f3;
    padding-top: 60px;
    padding-bottom: 60px;

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
      padding-left: 60px;
      padding-right: 60px;
    }

    -webkit-box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.45),
    inset -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.45),
    inset -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
    box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.45),
    inset -25px 0px 25px -25px rgba(0, 0, 0, 0.45);

    .row {
      position: relative;
      margin-bottom: 20px;

      h3 {
        font-weight: bold;
      }

      &:not(:last-of-type) {
        &::after {
          content: '';
          position: absolute;
          width: 40%;
          height: 2px;
          background: $dark-color;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

  }

}
