<!-- Footer -->
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <ul class="navs">
                    <li *ngFor="let link of navLinks"><a href="#">{{link}}</a></li>
                </ul>
            </div>
            <div class="col-lg-6 text-center">
                <div class="footer-logo">
                    <img src="../../../assets/imgs/footer-logo.png" alt="" class="w-50">
                </div>
                <p>لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور

                   </p>
                <p> يوت انيم أد مينيم فينايم,كيواس نوستريد

                    أكسير سيتاشن يللأمكو لابورأس نيسي يت أليكيوب أكس أيا كوممودو كونسيكيوات . ديواس
                    
                    </p>
            </div>
            <div class="col-lg-3 align-self-center text-center">
                <p class="text-center">تابعونا علي صفح التواصل الاجتماعي</p>
                <ul class="socials">
                    <li class="d-inline-block"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="d-inline-block"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="d-inline-block"><a href="#"><i class="fab fa-youtube"></i></a></li>
                    <li class="d-inline-block"><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- ./Footer -->
